/*body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkPrE8MxokF_XVvJ5csW4sE5pAq6S55TiFrPmzVuuYQFaq178x");
	background-repeat: no-repeat;
}
*/

#red{
   	width: 100px;
   	height: 100px;
    background-color:red;   /*colors the red racer*/
   
}

#blue{
   	width: 100px;
   	height: 100px;
    background-color:blue;  /*colors the blue racer*/
  
}

div{
	margin-top: 50px;
	color: white;
	border-radius: 50px;     /*Gives both racers the same styling*/
	text-align: center;
	font-size: 25px;
}

.instructions1 {
  color: red;
}

.instructions2 {
  color: blue;
}